body {
  background: white;
  font-size: 12pt; }

nav {
  display: none; }

.grid, .content {
  width: auto;
  margin: 0 5%;
  padding: 0;
  border: 0;
  float: none !important;
  color: black;
  background: transparent none; }

article.content {
  margin-left: 10%;
  padding-top: 1em; }

header {
  margin-bottom: -8px; }

a:link,
a:visited {
  color: #520;
  background: transparent;
  font-weight: bold;
  text-decoration: underline; }

.content a:link:after,
.content a:visited:after {
  content: " (" attr(href) ") ";
  font-size: 90%; }

.content a[href^="/"]:after {
  content: " (https://chrisfinazzo.com" attr(href) ") "; }
