<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link href="/css/style.css" rel="stylesheet">
	<title></title>
</head>
<body>

{% include nav.html %}

<main>
<h1>{{ title }}</h1>
{{ content }}
</main>

<footer>
<section>
<p>&copy; 2018 Chris Finazzo.</p>
<p>
    <a href="https://github.com/chrisfinazzo">GitHub</a>
    <a href="https://linkedin.com/in/chrisfinazzo">LinkedIn</a>
    <a href="https://micro.chrisfinazzo.com/feed.xml">Atom</a>
</p>
</section>
</footer>

<script>
   if (navigator.serviceWorker) {
     navigator.serviceWorker.register('/sw.js')
     .then( function (registration) {
       console.log('Success!', registration.scope);
     })
     .catch( function (error) {
       console.error('Failure!', error);
}); }
</script>
</body>
</html>
